body {
  font-family: "Verdana", sans-serif;
}

a {
  color: black;
}

a:active {
  color: red;
}

a:visited {
  color: gray;
}

a:hover {
  color: blue;
}

h1 {
  font-size: x-large;
  margin: 0;
}

h2 {
  font-size: large;
}

h2.first {
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

img {
  border-width: 0;
}

address {
  border-top: 1px solid gray;
  font-size: small;
  font-style: normal;
  color: gray;
}

address a {
  color: gray;
}

address img {
  margin-top: 2px;
  margin-bottom: 2px;
  vertical-align: middle;
}

/* layout boxes */

#heading {
  position: absolute;
  top: 2em;
  left: 2em;
  right: 2em;
  white-space: nowrap;
}

#navigation {
  position: absolute;
  top: 5em;
  left: 2em;
  right: 2em;
  font-size: medium;
  font-weight: bold;
  white-space: nowrap;
  color: gray;
  border-color: gray;
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

#main {
  position: absolute;
  top: 8em;
  left: 2em;
  right: 2em;
  border-collapse: collapse;
}

#main td {
  padding: 0;
  vertical-align: top;
}

table#threecol {
  margin-bottom: 1em;
}

table#threecol tr td {
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
}

#exampleDiv {
  border-color: gray;
  border-width: 1px;
  border-style: solid;
  margin-left: 1em;
  padding: 2em;
}

#previous {
  font-size: large;
  font-weight: bold;
  float: left;
  text-decoration: none;
}

#next {
  font-size: large;
  font-weight: bold;
  float: right;
  text-decoration: none;
}

#themeSelect {
  display: block;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
}

#codePre {
  overflow: hidden;
}

#caption {
  display: none;
  font-size: small;
  font-weight: bold;
  text-align: center;
}

#throbberImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

table#classes {
  margin: 20px;
  border-collapse: collapse;
}

table#classes th, table#classes td {
  border: 1px solid black;
  padding: 5px;
}

